<footer>
    <p>
    <a href="/homepage">Homepage</a>
    </p>

    <P>
    <a href="/table">Display the data</a>
    </P>


    <P>
    <a href="/insert">Insert the date</a>
    </P>


    <P>
    <a href="/p_profile">Profile</a>
    </P>

    <P>
    <a href="/aboutweb2">About this website</a>
    </P>


    <p>
    <a href="/aboutdia2">About diabetes</a>
    </p>

</footer>