<header>
<h1>New Data</h1>

<ul class="niv1">
      <li class="niv2"><a href="/homepage">Home page</a></li>
      <li class="niv2"><a href="/table">Viewing data</a></li>
      <li class="niv2"><a href="/insert">Inserting data</a></li>
      <li class="niv2"><a href="/profile">Profile</a></li>
      <li class="niv2"><a href="/aboutweb2">About the websites</a></li>
      <li class="niv2"><a href="/aboutdia2">About diabetes</a></li>
</ul>


<form class="logout" action="/logout" method="post">

    <button type="submit" onclick="logout()">Log Out</button>

</form>
</header>