
<header>
    <div class="top">
            <div class="info">
              <nav>
              <ul >
                <li><a class="top-anchor">Feature</a></li>   
                <li><a class="top-anchor">Notification</a></li>
                <li><a class="top-anchor">News</a></li>
              </ul>  
              </nav>  
            </div>
      </div>  
    <form class="logout" action="/doctor/logout" method="post">
      <button type="submit" style="cursor: pointer" onclick="logout()">Log Out</button>
    </form>  
</header>
