<header>
     <div class="top">
            <div class="info">
              <nav>
              <ul >
                <li><a href="#feature" class="top-anchor">Feature</a></li>   
                <li><a href="#notification" class="top-anchor">Notification</a></li>
                <li><a href="#news" class="top-anchor">News</a></li>
              </ul>  
              </nav>  
            </div>
      </div>  
</header>