<header>

<div class = "head">
    <h1>{{title}}</h1>

    <form class="logout" action="/logout" method="post">
            <button type="submit" onclick="logout()">Log Out</button>
    </form>

</div>


<ul class="niv1">
      <li class="niv2"><a href="/homepage">Home page</a></li>
      <li class="niv2"><a href="/table">Viewing data</a></li>
      <li class="niv2"><a href="/insert">Inserting data</a></li>
      <li class="niv2"><a href="/p_profile">Profile</a></li>
      <li class="niv2"><a href="/aboutweb">About the websites</a></li>
      <li class="niv2"><a href="/aboutdia">About diabetes</a></li>
</ul>

</header>