<header>

      <h1>New Data</h1>
<form class="logout" action="/logout" method="post">
    <button type="submit" onclick="logout()">Log Out</button>
</form>
      <ul>
        <li><a href="/homepage">Home page</a></li>
        <li><a href="/table">Viewing data</a></li>
         <li><a href="/insert">Inserting data</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="/aboutweb2">About the websites</a></li>
        <li><a href="/aboutdia2">About diabetes</a></li>
      </ul>

</header>