<header>

      <h1>Insert data</h1>

      <ul>
        <li><a href="/homepage">Homepage</a></li>
        <li><a href="/table">Display data</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="/aboutweb2">About this website</a></li>
        <li><a href="/aboutdia2">About diabetes</a></li>
      </ul>

</header>