<header>

      <h1>New Data</h1>

      <ul>
        <li><a href="/homepage">Home page</a></li>
        <li><a href="#">Display data</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="/aboutweb">About the websites</a></li>
        <li><a href="/aboutdia">About diabetes</a></li>
      </ul>

</header>