@font-face
{
    font-family: Tahoma;
        src: url('Tahoma Regular font.ttf');
}





:root {
    --text-big: 30px;
    --text-small: 20px;
    --font-faily-body:adobe-text-pro, serif;
    --color-blue:#2D63AB;
    --color-yellow:#F2B705;
    --color-dark_blue:#1D4881;
    --color-light_blue:#3B83E3;
    --color-light_green: #D2F2DD;
}

body{
    width: 375px;
    height: 1096px;
    margin: 0px;
}


header{
    text-align: center;
    background-color: var(--color-blue);
    color: white;
}

h1{
    font-size: var(--text-big);
}

p{
    font-size: var(--text-small);
    
}

section{
    font-family: Tahoma;
}

#diabetes{
    font-size: var(--text-small);
    font-family: var(--font-faily-body);
    width: 330px;
    height: 463px;
    border-radius: 10px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    padding: 10px;
    background-color: var(--color-yellow);
}

#diabetes h1{
    margin: 10px;
}

#diabetes p{
    margin-left: 10px;
}


br{
    height: 50px;
}


#video{
    width: 330px;
    height: 212px;
    padding: 10px; 
    border-radius: 10px;
    margin: auto;
    background-color: var(--color-dark_blue);
    color: white;
}

#video h1{
    margin: 10px;
}

iframe{
    width:287px;
    height: 137px;
    margin-left:19.5px;
}

#more_info{
    width: 330px;
    height: 212px;
    border-style:solid;
    border-width:1px;
    border-radius: 10px ;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:9px ;
    padding-bottom: 9px;
    margin-left: 11.5px;
    margin-right: 11.5px;
    color:var(--color-light_blue);
}

#more_info h1{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#more_info p{
    margin-top: 10px;
    margin-bottom: 10px;
}

#more_info p a{
    width: 280px;
    height: 30px;
    font-size: var(--text-small);
    color:var(--color-light_blue);
    margin-left: 20px;
}


#service{
    width: 330px;
    height: 300px;
    border-radius: 10px ;
    padding: 10px;
    margin-left: 12.5px;
    background-color: var(--color-light_green);
}

#service h1{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#service p{
    margin-left: 10px;
}


#developer{
    width: 330px;
    height: 300px;
    border-radius: 10px ;
    padding: 10px;
    margin-left: 12.5px;
    background-color: var(--color-yellow);
}

#developer h1{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#developer p{
    margin-left: 10px;
}


#complaints{
    width: 330px;
    height: 300px;
    border-radius: 10px ;
    padding: 10px;
    margin-left: 12.5px;
    background-color: var(--color-dark_blue);
    color: white;
}

#complaints h1{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#complaints p{
    margin-left: 10px;
}



#login{
    text-align: left;
    width: 250px;
    height: 80px;
    margin-left:22.5px;
    margin-bottom: 25px;
}

footer{
    text-align: center;
    font-size: var(--text-small);
    font-family: Tahoma;
    background-color:black ;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:25px ;
    padding-bottom: 15px;
    width: 355px;
    height: 130px;
}

footer p{
    margin: 9px;
}