<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>Document</title>
</head>
<body>
  <header>
     <div class="top">
            <div class="info">
              <nav>
              <ul >
                <li><a href="#feature" class="top-anchor">Feature</a></li>   
                <li><a href="#notification" class="top-anchor">Notification</a></li>
                <li><a href="#news" class="top-anchor">News</a></li>
              </ul>  
              </nav>  
            </div>
      </div>  
  </header>
  <main style="">
    {{{body}}}
  </main>
  <footer>
    <ul class="footer-list-top">             
      <h4 class="footer-list-header">LOGO</h4></li>
      <li><span class="slogan footer-list-anchor">At Diabetes@Home we're always <br/>looking for more ways <br/>to care for you. We offer better <br/>healthcare service.</span></li>
  </ul>
  <ul class="footer-list-top">
    <li id="terms">
      <h4 class="footer-list-header">Terms&Coniditions</h4></li>
    <li><a href='#notes' class="generic-anchor footer-list-anchor">Privacy notes</a></li>
    <li><a href='#condition' class="generic-anchor footer-list-anchor">Conditions of use</a></li>
  </ul>
  <ul class="footer-list-top">
    <li id='contact'>
      <h4 class="footer-list-header">Company</h4></li>
    <li><a href='#us' class="generic-anchor footer-list-anchor" itemprop="significantLink">About us</a></li>
    <li><a href='#careers' class="generic-anchor footer-list-anchor" itemprop="significantLink">Careers</a></li>
  </ul>
  <ul class="footer-list-top">
    <li id='help'>
      <h4 class="footer-list-header">Getting help</h4></li>
    <li><a href='#qa' class="generic-anchor footer-list-anchor" itemprop="significantLink">F Q&A</a></li>
    <li><a href='#techelp' class="generic-anchor footer-list-anchor" itemprop="significantLink">Technical help</a></li>
  </ul>
  <section class="footer-bottom-section flex-rw">
<div class="footer-bottom-wrapper">   
<i class="copyright">
 
</i> Hosted by <address class="footer-address">Bad Designer, CN</address> <span class="footer-bottom-rights"> All rights reserved © 2022 </span>
  </div>
  </section>
  </footer>
</body>
</html>