
<header>
    <h1>About this website</h1>
</header>

<div class="contain">
    <div class="con_list">
        <div class="con_list_lf w1 c9">
            <p>
                Service
            </p>
            <div>
                Our website is designed for diabetics and will help you to record all the data required by your doctor rapidly and accurately. Please login via the link at the bottom of this page to unlock more features.
            </div>
        </div>
        <div class="con_list_rg w2 none">
            <img src="/picture/service.jpeg">
        </div>
    </div>
    
    <div class="con_list">
        <div class="con_list_lf con_list_pet w2 none">
            <img src="/picture/developer.jpeg">
        </div>
        <div class="con_list_rg con_list_bor w1 webor fa">
            <p>
                Developer
            </p>
            <div>
                This site was built by 5 students 
                from the University of Melbourne 
                and if you would like to get in 
                touch with us further, you could 
                contact us via our email: xxxx@
                student.unimelb.edu.au.
            </div>
        </div>
    </div>
    <div class="con_list">
        <div class="con_list_lf w1 c10">
            <p>
                Complaints and 
            </p>
            <p>Comments</p>
            <div>
                If you have any complaints 
                or suggestions about our website, 
                you are welcome to contact us 
                via our email.
            </div>
        </div>
        <div class="con_list_rg w2 none">
            <img src="/picture/comment.jpeg" >
        </div>
    </div>
</div>

{{#if loggedin}}
    {{> aboutfooter2}}
{{else}}
    <div class="con_dl">
        If you want to access more features,please <a href="/login">log in</a> for more details.
    </div>
    {{> aboutfooter1}}
{{/if}}

 
