
<header>
    <h1>About Diabetes</h1>
</header>

<div class="contain">
    <div class="con_list">
        <div class="con_list_lf w1 font1">
            <p>
                Diabetes
            </p>
            <div>
                Diabetes mellitus, or diabetes, is a serious chronic health condition which occurs when there is too much glucose in the blood. Insulin plays an important role in the body processing sugars from the blood stream. Thus, in people with diabetes insulin levels tend to be lower and blood sugars higher. Over time high glucose levels can damage the body’s blood vessels and nerves, leading to long term health complications such as heart, kidney and eye disease, and nerve damage in the feet.
            </div>
        </div>
        <div class="con_list_rg w2 none">
            <img src="/picture/diabete.jpeg">
        </div>  
    </div>
    <div class="con_video">
        <iframe src="https://www.youtube.com/embed/AM5MgWN5C8c" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;"
                allowfullscreen>
        </iframe>
    </div>
    <div class="con_list">
        <div class="con_list_lf con_list_pet none">
            <img src="/picture/readmore.jpeg">
        </div>
        <div class="con_list_rg con_list_bor">
            <ul>
                <li>Read more</li>
                <li><a href="https://www.cdc.gov/">Center for diabetes control</a></li>
                <li><a href="https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes">Diabetes management</a></li>
                <li><a href="https://www.diabetes.org.uk/guide-to-diabetes/complications">Complication of diabetes</a></li>
            </ul>
        </div>
    </div>
    <div class="con_dl">
        If you want to access more features,please <a href="http://localhost:3000/login">log in</a> for more details.
    </div>
</div>

<div class="footer">
    <p>Homepage</p>
    <p>About the websites</p>
    <p>About diabetes</p>
</div>

