<link rel="stylesheet" href="/css/clinical_note.css">

{{> header3}}



<button type="button" onclick="location.href = '/doctor/profiles/{{patient._id}}'">Back</button>
<button type="button" onclick="location.href = '/doctor/newNote/{{patient._id}}'">New note</button>

<div class="container">
    {{#each note}} 
        <div class="text">
            <p class="date">Note on {{this.create_date}}</p>
            <p>{{this.message}}</p>
        </div>
    {{/each}}
</div>