<link rel="stylesheet" href="/css/clinical_note.css">
{{> header}}
<div class="grey-top">
    <nav>
        <ul >
            <li><a class="top-anchor active">Clinical Notes</a></li>   
            <li><a class="top-anchor">Display Data</a></li>
            <li><a class="top-anchor">Modify Data</a></li>
            <li><a class="top-anchor">Support Message</a></li>
        </ul>  
    </nav>  
</div> 
 <button type="button" onclick="location.href = './new_note';return false;">New note</button>
<div class="container">
    
    {{#each note}}
    <div class="text">
        <p class="date">Note on <script> date = new Date().toLocaleDateString();
            document.write(date); </script></p>
        <p>{{Message}}</p>
    </div>
    {{/each}}
</div>