<div class="info">
        <div class="profile">
            <img src="/picture/SpongeBob.svg.png">
            <div class="name">{{!this.name}}aaa</div>
        </div>    
        <div class="text">
            He/She comment on {{!}}
            here is he/she comment{{!}}
        </div>    
</div>