{{> header}}
<body style="background-color: #3B83E3;">
<h1 style="color: white; font-family:sans-serif">Diabetes@Home</h1>
<div class="login doc_bg">
    <form class="login-form" action="/doctor/login" method="post"> 
      <label class="pat-text-color" for="username">Username:</label>
      <input id="username" name="username" type="text" class="input"/>
      <label class="pat-text-color" for="password"> Password:</label>
      <input id="password" name="password" type="password" class="input" >
      <button type="submit" class="btn-login  log-bg"> Log In</button>
  </form>
</div> 
</body>

{{> footer}}