{{> header}}
<div class="bg">
<div class="login doc_bg">
    <form class="login-form"> 
      <label for="ID">User ID:</label>
      <br/>
      <input type="ID" id="ID" class="input">
      <br/>
      <label for="password"> Password:</label>
      <br/>
      <input id="password" type="password" class="input" >
      <div class="checkbox">
          <input type="checkbox" >
          <label class="">Remember me?</label>
      </div>
    <button type="submit" class="btn-login  log-bg" onclick="{{!login();}}">Log In</button>
    <a class="forget" href="/Forget_Password">Forget Password</span>
  </form>
</div> 
</div>

{{> footer}}