<form action="/people" method="POST">

    <div class = "basic">
        <h2> Basic information</h2>
        <section>
            <label>User name</label>
            <input type="text" name="username" />
        </section>

        <section class = 'one_line'>
        <label>Birthday</label>
        <input type="date" name="Birthday" />
        </section>
    </div>



    <div class = "contact">
        <h2> Contact information</h2>
        <section class = 'one_line'>
            <label>Email</label>
            <input type="email" name="email" placeholder="Email" />
        </section>

        <section>
            <label>Home Address</label>
            <input type="text" name="address" />
        </section>

        <section>
            <label>Phone number</label>
            <input type="tel" name="phone" placeholder="123-45-678" />
        </section>
    </div>

    <div class = "password">
        <h2> Security</h2>
        <section class = 'one_line'>
            <label>Password</label>
            <input type="text" name="password" placeholder="new password" />
        </section>
    </div>

    <div class="submit"> 
        <input type="submit" value="Submit">
        <input type="reset" value = "Reset">
        <input type="button" onclick="location.href='/p_profile';" value = "Cancel">
    </div>

</form>
