<div class="container-block container-flexbox">

      <!-- First column -->
      <div class="item-col-2 bg-dark item-col-padding">
        <h1 class="text-black">Diabetes@HOME</h1>
        <button type="submit">Log in</button>
      </div>
      <!-- second column -->
  

      <div class="item-col-2">
          <img src="doctors.png" alt="doctor image">
      </div>
      <!-- Ends child column -->
  
  </div>