
{{> header}}

<main style="background: #3b7fd9; width: 100%; min-height: 980px; padding-top: 100px">
  <div class="container-block container-flexbox">

      <!-- First column -->
      <div class="item-col-2 col-style">
        <h1 class="text-black">Diabetes@HOME</h1>
        <button onclick="location.href = './doctor/login'">Log in</button>
      </div>
      <!-- second column -->

      <div class="item-col-2">
          <img src="picture/doctor.png" alt="doctor">
      </div>
      <!-- Ends child column -->
  
</main>

{{> footer}}
