<header>
    <h1>Home Page</h1>
</header>

<main>
    <section>

        <div class = "hello">
            <h2> Hello </h2>
            <p>From your clinician:</p>

            <p id = "message">  We will get through this together, knowing 
                there are brighter days ahead.
            </p>
        </div>




        <div class = "today">
            <h2>Today</h2>
            <p id = "date">22 Apr 2022</p>
            <p>Data need to be entered today :</p>


            <ul>
                {{#with status}}
                <li>
                    {{#if (isrecord this.glucose)}}
                        <p>Blood glucose level</p>
                        <p>Successfully entered</p>
                    {{else}}
                        <p>Blood glucose level</p>
                        <p>Not yet entered</p>
                    {{/if}}
                </li>
                
                <li>
                    {{#if (isrecord this.weight)}}
                        <p>Weight</p>
                        <p>Successfully entered</p>
                    {{else}}
                        <p>Weight</p>
                        <p>Not yet entered</p>
                    {{/if}}
                </li>

                <li>
                    {{#if (isrecord this.insulin)}}
                        <p>Doses of insulin taken</p>
                        <p>Successfully entered</p>
                    {{else}}
                        <p>Doses of insulin taken</p>
                        <p>Not yet entered</p>
                    {{/if}}
                </li>

                <li>
                    {{#if (isrecord this.exercise)}}
                        <p>Exercise</p>
                        <p>Successfully entered</p>
                    {{else}}
                        <p>Exercise</p>
                        <p>Not yet entered</p>
                    {{/if}}
                </li>
                {{/with}}
            </ul>


        
            <a href="/insert" class = link> 
                <p>Insert your data now</p>
                <img src="/icon/circle-right.svg">
            </a>
            
        </div>

    </section>


    <div class = "leaderboard">
        <p>Your engagement rate currently is 80% </p>
        <p>Your  rank is No. 12 out of  10350 users </p>
    </div>


    <section class="function">

        <div class="box">
            <h2>Leaderboard</h2>
            <p>Viewing the full rank list</p>
            <img src="/icon/right.svg">
        </div>

        <div class="box">
            <h2>Display data</h2>
            <p>To check all previous data</p>
            <img src="/icon/right.svg">
        </div>

        
        <a href="/insert" class="box">
            <h2>Insert Data</h2>
            <p>To update new data</p>
            <img src="/icon/right.svg">
        </a>
        

        <div class="box">
            <h2>Profile</h2>
            <p>To modify all your basic information</p>
            <img src="/icon/right.svg">
        </div>

    </section>




</main>
