
<div class="wrap">
    <div class="note">
        <li><img src="/icon/red-circle.svg"><p class="legend-item">unread(click checkbox to mark it read)</p></li>
    </div>

<div class="container">

    {{#each record}}
    <button class="tablinks comment" onmouseover="openCity(event, {{this._id}})">
        <p><input type="checkbox" value="Today">{{this.date}}</p>
        <p>patient {{this.name}}</p>
        {{! #if }}
        <p>new comment on 
            {{#if this.glucoseComment}}
            <a>glucose</a>
            {{/if}}
            {{#if this.weightComment}}
            <a>weight</a>
            {{/if}}
            {{#if this.exerciseComment}}
            <a>exercise</a>
            {{/if}}
            {{#if this.insulinComment}}
            <a>insulin</a>
            {{/if}}
        </p>
    </div>
    </button>
    <!--div class="tab" type="button" class="tablinks" onmouseover="openCity(event, 'London')"-->
    <div id={{this.name}} class="tabcontent">
        <h3>London</h3>
        <p>London is the capital city of England.</p>
    </div>
    <div class="clearfix"></div>
       
    </div>
    {{/each}}
</div>

</div>
<h2>Hover Tabs</h2>
<p>Move the mouse over a button inside the tabbed menu:</p>

<div class="tab">
  <button class="tablinks" onmouseover="openCity(event, 'London')">London</button>
  <button class="tablinks" onmouseover="openCity(event, 'Paris')">Paris</button>
  <button class="tablinks" onmouseover="openCity(event, 'Tokyo')">Tokyo</button>
</div>

<div id="London" class="tabcontent">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p> 
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

<div class="clearfix"></div>
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
   