<link rel="stylesheet" href="/css/insert.css">

<div class="insertBox">
    <div class="content">
    <div class="left">
        <img width="100%" src="/picture/data.jpeg" />
    </div>
    <div class="right">
        <form id="insertForm" action="">
        <div class="form-group">
            <div class="inner">
            <label for="glucose">
                Blood glucose level
            </label>
            <input  name="glucose" id="glucose" value="1" type="text" />
            nom/L
            <p>
                Add new comment here
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="27"
                height="23.625"
                viewBox="0 0 27 23.625"
                fill="#fff"
                >
                <path
                    id="Icon_awesome-comment-medical"
                    data-name="Icon awesome-comment-medical"
                    d="M13.5,2.25C6.044,2.25,0,7.161,0,13.219a9.75,9.75,0,0,0,3.006,6.894,13.475,13.475,0,0,1-2.89,5.05.422.422,0,0,0,.306.712,12.056,12.056,0,0,0,7.414-2.709A16.066,16.066,0,0,0,13.5,24.188c7.456,0,13.5-4.911,13.5-10.969S20.956,2.25,13.5,2.25Zm5.063,12.234a.422.422,0,0,1-.422.422H15.188v2.953a.422.422,0,0,1-.422.422H12.234a.422.422,0,0,1-.422-.422V14.906H8.859a.422.422,0,0,1-.422-.422V11.953a.422.422,0,0,1,.422-.422h2.953V8.578a.422.422,0,0,1,.422-.422h2.531a.422.422,0,0,1,.422.422v2.953h2.953a.422.422,0,0,1,.422.422Z"
                    transform="translate(0 -2.25)"
                ></path>
                </svg>
            </p>
            <input id="glucoseComment" class="comment" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="inner">
            <label for="weight">
                Wight
            </label>
            <input  name="weight" id="weight" value="1" type="text" />
            Kg
            <p>
                Add new comment here
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="27"
                height="23.625"
                viewBox="0 0 27 23.625"
                fill="#fff"
                >  
                <path
                    id="Icon_awesome-comment-medical"
                    data-name="Icon awesome-comment-medical"
                    d="M13.5,2.25C6.044,2.25,0,7.161,0,13.219a9.75,9.75,0,0,0,3.006,6.894,13.475,13.475,0,0,1-2.89,5.05.422.422,0,0,0,.306.712,12.056,12.056,0,0,0,7.414-2.709A16.066,16.066,0,0,0,13.5,24.188c7.456,0,13.5-4.911,13.5-10.969S20.956,2.25,13.5,2.25Zm5.063,12.234a.422.422,0,0,1-.422.422H15.188v2.953a.422.422,0,0,1-.422.422H12.234a.422.422,0,0,1-.422-.422V14.906H8.859a.422.422,0,0,1-.422-.422V11.953a.422.422,0,0,1,.422-.422h2.953V8.578a.422.422,0,0,1,.422-.422h2.531a.422.422,0,0,1,.422.422v2.953h2.953a.422.422,0,0,1,.422.422Z"
                    transform="translate(0 -2.25)"
                ></path>
                </svg>
            </p>
            <input id="weightComment" class="comment" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="inner">
            <label for="insulin">
                Doses of insulin taken
            </label>
            <input  name="insulin" id="insulin" value="1" type="text" />
            Doses
            <p>
                Add new comment here
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="27"
                height="23.625"
                viewBox="0 0 27 23.625"
                >
                <path
                    id="Icon_awesome-comment-medical"
                    data-name="Icon awesome-comment-medical"
                    d="M13.5,2.25C6.044,2.25,0,7.161,0,13.219a9.75,9.75,0,0,0,3.006,6.894,13.475,13.475,0,0,1-2.89,5.05.422.422,0,0,0,.306.712,12.056,12.056,0,0,0,7.414-2.709A16.066,16.066,0,0,0,13.5,24.188c7.456,0,13.5-4.911,13.5-10.969S20.956,2.25,13.5,2.25Zm5.063,12.234a.422.422,0,0,1-.422.422H15.188v2.953a.422.422,0,0,1-.422.422H12.234a.422.422,0,0,1-.422-.422V14.906H8.859a.422.422,0,0,1-.422-.422V11.953a.422.422,0,0,1,.422-.422h2.953V8.578a.422.422,0,0,1,.422-.422h2.531a.422.422,0,0,1,.422.422v2.953h2.953a.422.422,0,0,1,.422.422Z"
                    transform="translate(0 -2.25)"
                ></path>
                </svg>
            </p>
            <input id="insulinComment" class="comment" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="inner">
            <label for="exercise">
                Exercise
            </label>
            <input
                
                name="exercise"
                id="exercise"
                value="1"
                type="text"
            />
            Step count
            <p>
                Add new comment here
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="27"
                height="23.625"
                viewBox="0 0 27 23.625"
                > 
                <path
                    id="Icon_awesome-comment-medical"
                    data-name="Icon awesome-comment-medical"
                    d="M13.5,2.25C6.044,2.25,0,7.161,0,13.219a9.75,9.75,0,0,0,3.006,6.894,13.475,13.475,0,0,1-2.89,5.05.422.422,0,0,0,.306.712,12.056,12.056,0,0,0,7.414-2.709A16.066,16.066,0,0,0,13.5,24.188c7.456,0,13.5-4.911,13.5-10.969S20.956,2.25,13.5,2.25Zm5.063,12.234a.422.422,0,0,1-.422.422H15.188v2.953a.422.422,0,0,1-.422.422H12.234a.422.422,0,0,1-.422-.422V14.906H8.859a.422.422,0,0,1-.422-.422V11.953a.422.422,0,0,1,.422-.422h2.953V8.578a.422.422,0,0,1,.422-.422h2.531a.422.422,0,0,1,.422.422v2.953h2.953a.422.422,0,0,1,.422.422Z"
                    transform="translate(0 -2.25)"
                ></path>
                </svg>
            </p>
            <input id="exerciseComment" class="comment" type="text" />
            </div>
        </div>
        <div class="form-group">
            <button class="submit">
            Submit
            </button>
        </div>
        </form>
    </div>
    </div>
</div>
<script
    src="https://cdn.bootcdn.net/ajax/libs/axios/0.26.1/axios.min.js"
></script>
<script>
    insertForm.addEventListener('submit', async function (e){
        console.log(1)
        function getTime(){
        var date = new Date();
        var year = date.getFullYear() 
        var month = date.getMonth() +1
        var day = date.getDate()
        if(month<10){
            month = "0" + month
        }
        if(day <10){
            day = "0" +day
        }
        return year + '-' + month + '-' + day
    }
      //var d = Date.now()
      //month = '' + (d.getMonth() + 1)
      //day = '' + d.getDate()
      //year = d.getFullYear()
      //if (month.length < 2) month = '0' + month
      //if (day.length < 2) day = '0' + day
        e.preventDefault()
        const data = {
            patientId:"62694cb55403b01e62571abd",
            //recordDate: [year, month, day].join('-'),
            //recordDate: "2022-6-23",
            recordDate: getTime(),
            data:{
                glucose:{
                    data:glucose.value,
                    comment:glucoseComment.value,
                    //status:""
                },
                weight:{
                    data:weight.value,
                    comment:weightComment.value,
                    //status:""
                },
                insulin:{
                    data:insulin.value,
                    comment:insulinComment.value,
                    //status:""
                },
                exercise:{
                    data:exercise.value,
                    comment:exerciseComment.value,
                    //status:""
                }
            },
        }
        
        const res = await axios({
            url:"/api/record/updateData",
            data,
            method:"POST",
        })
        console.log(res)
    })
</script>
