<h1>Diabetes@HOME</h1>
<div class="login pat_bg">
    <form class="login-form"> 
      <label for="ID">User ID:</label>
      <br/>
      <input type="ID" id="ID" class="input">
      <br/>
      <label for="password"> Password:</label>
      <br/>
      <input id="password" type="password" class="input" >
      <div class="checkbox">
          <input type="checkbox" >
          <label class="">Remember me?</label>
      </div>
    <button type="submit" class="btn-login  log-bg" onclick="{{!login();}}">Log In</button>
    <p class="">
      <a href="/Forget_Password">Forget Password|</span>
      <a href="/signup">Sign up</a>
    </p>
  </form>
</div> 
