
 <form class="login-form" action="login.js"> {{! login}}
   <label for="ID"><i class="flex-form id"></i>ID</label>
   <input type="ID" id="ID" class="input">
   <label for="password"><i class="flex-form pass"></i> Password:</label>
   <input id="password" type="password" class="input" >
   <button type="submit" class="btn-login  log-bg" onclick="{{!login();}}">Login</button>
</form>