


<body style="background-color: white;">
<h1 style="color: black;">Diabetes@HOME</h1>
<div class="login" style="background-color: #3B83E3;">
  
    <form class="login-form" action="/login" method="post"> 
        
      <label class="pat-text-color" for="username">Username:</label>
      <input id="username" name="username" type="text" class="input"/>
      <label class="pat-text-color" for="password"> Password:</label>
      <input id="password" name="password" type="password" class="input" >
      <div class="checkbox">
          <input type="checkbox" >
          <label class="pat-text-color" >Remember me?</label>
      </div>
      
      <button type="submit" class="btn-login  log-bg"> Log In</button>
      <a class="forget" >Forget Password</a>
  </form>
</div> 
</body>


