<link rel="stylesheet" href="/css/clinical_note.css">
{{> header3}}
<div class="grey-top">
    <nav>
        <ul >
            <li><a class="top-anchor active">Clinical Notes</a></li>   
            <li><a class="top-anchor">Display Data</a></li>
            <li><a class="top-anchor">Modify Data</a></li>
            <li><a class="top-anchor">Support Message</a></li>
        </ul>  
    </nav>  
</div> 
<div class="new">
    <form action="/doctor/newNote/{{patient._id}}" method="post">
        <p class="date" id="date">Note on <script> document.write(new Date().toLocaleDateString('en-AU',{  year: 'numeric', month: 'short', day: 'numeric'})); </script></p>
        <textarea id="note" name="note" placeholder="Enter clinician note(you can adjust comment box size)..." value="{{input.message}}"></textarea>
        <button class="note-btn" type="submit">Submit</button>
        <button class="note-btn" type="button" onclick="location.href = '/doctor/clinicalNote/{{patient._id}}'">Cancel</button>
    </form>
</div>

{{#if success}}
<script>
  window.onload=function() {
    setTimeout(() => {
      alert("Add new note Successfully!");
      window.location.href = window.location.origin + window.location.pathname
    }, 500) 
  }
</script>
{{/if}}
{{#if failure}}
  <script>
    window.onload=function() {
      setTimeout(() => {
        alert("Fail to add new note.");
        window.location.href = window.location.origin + window.location.pathname
      }, 500) 
    }
  </script>
{{/if}}