

<div class = "basic">
    <h2> Basic information</h2>
    <ul>
        <li>
            <p>User name</p>
            <p>chris123</p>
        </li>

        <li>
            <p>Birthday   </p>
            <p>Apr/13/1997</p>
        </li>
    </ul>
    
</div>


    

<div class = "contact">
    <h2> Contact information</h2>
    <ul>
        <li>
            <p>Email       </p>
            <p>chris123@163.com</p>
        </li>

        <li>
            <p>Home Address</p>
            <p>1997/ Sweaston st, Australia</p>
        </li>

        <li>
            <p>Phone number</p>
            <p>8800-31999</p>
        </li>
    </ul>
</div>



 <div class="edit"> 
     <a href="/edit">
        <p>Edit your info and password</p>
     </a>
 </div>