<link rel="stylesheet" href="/css/pat.css">
{{>header3}}    
    <div class="pat_info">
        <div class="pats_col profile">
            <img class="sponge"src="/picture/SpongeBob.svg.png">
            <div class="name">{{!patient.name}}</div>
        </div>

        <table class="pats_col">
            <tr>
                <td><img src="/icon/note.svg"></td>
                <td class="tdp">Clinical Note</td>
            </tr>

            <tr>
                <td><img src="/icon/display.svg"></td>
                <td class="tdp">Display Data</td>
            </tr>
            
            <tr>
                <td><img src="/icon/modify.svg"></td>
                <td class="tdp">Modify data</td>
            </tr> 

            <tr>
                <td><img src="/icon/msg.svg"></td>
                <td class="tdp">Encourage message</td>
            </tr>
            </table>

    </div>
{{>footer}}   