

<body style="background-color: #2D3033;">
<h1 style="color: white;">Sign up</h1>
<div class="login" >
  
    <form class="login-form" action="/register" method="post"> 
        
      <label class="pat-text-color" for="fullname">Full Name</label>
      <br/>
      <input id="fullname" type="text" name="fullname" class="input">
      <br/>
      <label class="pat-text-color" for="email">Email</label>
      <br/>
      <input id="email" type="text" name="email" class="input">
      <br/>
      <label class="pat-text-color" for="username">User Name</label>
      <br/>
      <input id="username" type="text" name="username" class="input">
      <br/>
      <label class="pat-text-color" for="password"> Password:</label>
      <br/>
      <input id="password" name="password" type="password" class="input" >
      <div class="checkbox">
          <input type="checkbox" >
          <label class="pat-text-color" >I agree to the Terms and Policy</label>
      </div>
      <button type="submit" class="btn-login  log-bg" style="margin-bottom: 1.5em;"> Sign up</button>
      
      <button type="button" class="btn-login  log-bg" onclick="location.href = '/dashboard';return false;"> Cancel</button>
  </form>
</div> 
</body>

