

<h1>Pat's Data</h1>


<table class="datatable">
    <thead>
        <tr>
            <th>Date</th>
            <th>B.J level</th>
            <th>Weight</th>
            <th>Doses</th>
            <th>Exercise</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td> Apr/8/2022</td>
            <td> 115</td>
            <td> 90</td>
            <td> 2 </td>
            <td> 1100</td>
        </tr>

        <tr>
            <td> Apr/7/2022</td>
            <td> 115</td>
            <td> 90</td>
            <td> 2 </td>
            <td> 1100</td>
        </tr>

        <tr>
            <td> Apr/6/2022</td>
            <td> 115</td>
            <td> 90</td>
            <td> 2 </td>
            <td> 1100</td>
        </tr>

         <tr>
            <td> Apr/5/2022</td>
            <td> 115</td>
            <td> 90</td>
            <td> 2 </td>
            <td> 1100</td>
        </tr>

    </tbody>
    
</table>

  