
<header>
    <h1>Welcome</h1>
</header>

<section>

    <div class = "text">
    <h2>Welcome to 
        The Diabetes@Home</h2>
    <p>logo</p>
    <a href="http://localhost:3000/login">login</a>
    </div>

   
    <img src="/picture/doctor.png">
    
    
</section>

<section>

  
    <h3>Explore more</h3>
    

    <div class = "box">
    <h4>About Diabetes</h4>
    <p>Some basic information you 
    need to know about diabetes.</p>
    </div>

    <div class = "box">
    <h4>About this websites</h4>
    <p>Find out more about What this 
    page can do and who build 
    this websites.</p>
    </div>

</section>
