:root {
    --font-faily-body:adobe-text-pro, serif;
    --color-blue:#2D63AB;
    --color-yellow:#F2B705;
    --color-light-yellow:#F9E29B
    --color-dark_blue:#1D4881;
    --color-light_blue:#3B83E3;
    --color-light_green: #D2F2DD;
    --color-xl-blue:#8DB9ED;
    --line-color:#ccc;
  }
body{

    font-family: Tahoma;
    background-color: #3B83E3;
}
.logout{
    margin-top: 2.5px;
    position: absolute;
    top: 0;
    right: 0;
}

.logout button{
    font-size: 1.5em;
    padding: 0;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #2D63AB;
    color:white;
    border: none;
    border-left-style: solid;
    border-color: white;
}

.container-block{
    padding-top: 0%;
    margin-bottom: 10%;

}
.container-flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.wel{
    transform: rotate(-20deg);
    background-color: #2D3033;
    height: 33em;
    width: 33em;
    max-width: 600px;
    min-height: 300px;
    min-width: 300px;

}
.wel ul{
    margin: 3.5em;
    color: white;
    transform:rotate(20deg);
}
li{
    display: block; 
}
.wel .item{
    color: white;
}
.today{
    background-color: #F2B705 !important;
    transform: rotate(15deg);
    max-width: 600px;
    max-height: 300px;
}
.today li{
    color: #2D3033;
}
.today ul{
    transform: rotate(-15deg);
    padding: 2%;
    margin-top: 4.2em;
    margin-left: 4.2em;
}
.item{
    font-size: 2.5em;
    text-align: left;
}
img{
    height: 2.5em;
    width: 2.5em;
    margin-top: 1.7em;
    margin-right: 2em;
}
h1{
    font-size: 2.5em;
    transform:rotate(20deg);
    color: white;
    margin: 2.5em;
}
a{
    text-decoration:none;
}
@media all and (min-width: 1824px) {
    .doc-col { width: 50% }
    .today{
        margin-right: 11.3em;
        margin-top: 25.3em;
        padding: 3%;
    }
    .wel{
        margin-left: 15.2em;
        margin-top: 13.2em;
        padding: 2%; 
    }
}
@media all and (max-width: 1824px) {
    .doc-col { width: 100% }
    .today{
        margin: 36.3em;
        margin-right: 11.3em;
        margin-top: 20.3em;
        padding: 3%;
    }
    .wel{
        margin-left: 15.2em;
        margin-top: 13.2em;
        padding: 2%; 
    }
}
header {
    background-color: white;
    height: 35px;
    top: 0;
    width: 100%;
  }
  nav ul { 
    margin: 0 7% auto 0;
    padding-right: initial;
    text-align: left;
    max-width: 100%
  }
  nav ul li { 
    display: inline-block; 
    margin-left: 10px;
  }
  
  *.info{
    font-family: "PT Serif";
    font-weight: normal;
    color: #4b4b4b;
  }
  .top-anchor{
  font: 0.7em normal, PT Serif;
  color: black;
  }
  .logout{
    margin-top: 5.5px;
    position: absolute;
    top: 0;
    right: 0;
}

.logout button{
    font-size: 1.5em;
    padding: 0;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #2D63AB;
    color:white;
    border: none;
    border-left-style: solid;
    border-color: white;
}
* { 
    box-sizing: border-box; 
    font-size: 18px;
    padding: 0;
    margin: 0;
  }