
	* {
		box-sizing: border-box;
	}

  body{
    margin: 0;
  }
  header {
    background-color: white;
    height: 35px;
    top: 0;
    width: 100%;
  }
  .grey-top ul { 
    margin: 3%;
    padding-right: initial;
    text-align: left;
    max-width: 100%;
    font-size: 1.5em;
}
  .grey-top ul li { 
    display: inline-block; 
    margin-left: 10px;
  }
  
  *.info{
    font-family: "PT Serif";
    font-weight: normal;
    color: #4b4b4b;
  }
  .top-anchor{
  font: 0.7em normal, PT Serif;
  color: black;
  }
  .logout{
    margin-top:  18.5px;
    position: absolute;
    top: 0;
    right: 0;
}

.logout button{
    font-size: 1.5em;
    padding: 0;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #2D63AB;
    color:white;
    border: none;
    border-left-style: solid;
    border-color: white;
}
.wrap{
    width:100%;
    margin:0 auto;
    overflow: hidden;
}


.comment:hover {
    background-color: #F2B705;
    
  }
li{
    display: inline-block; 
    margin-left: 10px;
  }
li img{
    margin-bottom: -1em;
}
li p{
    display: inline;
    margin-bottom: 1.2em;
  }

.note{
  margin-left: 2.2em;
  padding: 0%;
  color: white;
  font-size: 1.5em;
} 

	#tabsDiv {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 0px;
    padding: 2.2em;
	}

.ulClass {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 0px;
    padding: 2.2em;
    width: 46.8%;
    padding-top: 0px;

	}
.linkClass{
  width: 100%;
  margin-left: 0px;
  font-size: 1.5em;
  text-align: left;
  padding-left: 8%;
  background-color: aliceblue;
  margin-top: -1.5em;
}
.linkClass:hover{
  background-color: #F2B705;
}


	/* Button to open the content */
	#tabsDiv button {
		display: block;
		background-color: inherit;
		color: black;
		padding: 25px 15px;
		width: 400px;
		text-align: left;
		cursor: pointer;
	}

	#tabsDiv button.active {
		background-color: #F2B705;
	}

	/* Content for tabs*/
	.contentClass {
		display: none;
    position: absolute;
    left: 45%;
    padding: 43px 50px;
    width: 54%;
    border-style: none;
    margin-top: 16px;
    height: fit-content;
    border: black solid 1px;
    background-color: white;
	}
 