* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head{
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  display: flex;
  background-color: #2D63AB;
  color: white;
  border-radius: 0;
  padding: 0;
  margin:0;
}
.head h1 {
  color: white;
  font-size: 2em;
  margin: 0;
  margin-left: 5px;
}

.logout{
  margin-top: 7.5px;
  position: absolute;
  top: 0;
  right: 0;
}

.logout button{
  font-size: 1.5em;
  padding: 0;
  padding-right: 1em;
  padding-left: 1em;
  background-color: #2D63AB;
  color:white;
  border: none;
  border-left-style: solid;
  border-color: white;
}

.niv1 {
  list-style-type: none;
  padding:0;
  padding-top: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  background: #EBEBEB;
  text-align: center;
  height: 300px;
}

.niv2{
  margin-bottom: 15px;
}

.niv2 a{
  font-size: 1.2em;
  color: black;
  text-decoration: none;
}


.leader {
  padding: 5% 0;
  width: 85%;
  margin: 0 auto;
}

.box {
  display: flex;
  justify-content: space-between;

}

.box>div {
  flex: 0 0 48%;
}

.box .right .title {
  margin: 0 auto;
  padding: 2%;
  text-align: center;
  line-height: 25px;
  background-color: #F2B705;
  border-radius: 10px;
}
.box .left{
  flex: 0 0 40%;
}
.box .left .content {
  margin-top: 5%;
}



.box .right>img {
  margin-top: 3rem;
  width: 100%;
}
.box .hide{
  display: none;
}

.box .left .content h3 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}
.box .user-item{
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  background-color: #1D4881;
  color: #fff;
  line-height: 3;
  border-radius: 20px;
  padding: 0 5%;
  margin-bottom: 2rem;
}
.user-item .user-info{
  display: flex;
  align-items: center;
}
.user-item .rank{
  flex: 0 0 10%;
}

.user-item .user-info{
  flex: 0 0 60%;
}
.user-item .val{
  flex: 0 0 30%;
  text-align: right;
}

.user-item .head{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10%;
}

@media screen and (max-width:768px) {
  .leader {
    padding: 5% 2%;
    width: 100%;
    margin: 0 auto;
  }
  .box{
    flex-direction: column;
  }

  .box .right>img{
    display: none;
  }

  .box .left {
    flex: 1;
  }
}


@media screen and (max-width: 375px){

  .logout{
      margin-top: 6px;
  }

  .logout button{
      font-size: 1em;
      padding-top: 7.5px;
      padding-bottom: 7.5px;
      padding-right: 0.5em;
      padding-left: 0.3em;
  }
}