
body{
  display: flex;
  text-align: left;
  flex-flow: column nowrap;
  align-items: center;
  font-family: Tahoma;
  width: 100%;
  min-height: 100%;  
}

.login{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    max-width: 983px;
    min-width: 375px;
    min-height: 400px;
    margin: 3em;
    margin-bottom: 200px;
    border-radius: 40px;    
    border: 2px solid rgba(255, 255, 255, 0.6); 
    align-content: space-between;
    flex-wrap: nowrap;
    padding: 5%;
}
  .pat_bg{
    background: #6394d6; 
  }
  .doc_bg{
    background: #5F97E0;
  }
  .login_form{
    border-radius: 40px;
    display: flex;
    position: relative;
  }
  label{
    color: white;
  }
  
  h1 {
  font-size: revert;text-align:center;
  padding: 4%;
  font-family: Tahoma;
  font-weight: bold;
 }
  
    
  input[type=text],
  input[type=password] {
    border-radius: 25px;
    margin-bottom: 1rem;
    width: 100%;
    padding: 1em 6em;
    margin: 0.5em 0;
    display: inline-block;
    border: 0.1em solid #ccc;
    box-sizing: border-box;
  }
  .checkbox{
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  a.forget{
    margin-bottom: auto;
    margin-top: 1 rem;
    color: #E8D426;
  }
  a.forget:hover{
    color: white;
    text-decoration: none;
  }
  
  
  .btn-login{

    background: #3A855D;
    border: 1px solid #707070;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    border-radius: 16px;
  }
  .btn-login:hover {
    background: #57b382;;
  }
  @media all and (min-width: 880px) {
    .login { width: 40% ;padding: 2%;}
  }
  @media all and (max-width: 880px) {
    .login { width: 50% }
}

  
* { 
  box-sizing: border-box; 
  font-size: 18px;
  padding: 0;
  margin: 0;
}
/*header*/
header {
  background-color: white;
  height: 35px;
  top: 0;
  width: 100%;
}
nav ul { 
  margin: 0 7% auto 0;
  padding-right: initial;
  text-align: left;
  max-width: 100%
}
nav ul li { 
  display: inline-block; 
  margin-left: 10px;
}

*.info{
  font-family: "PT Serif";
  font-weight: normal;
  color: #4b4b4b;
}
.top-anchor{
font: 0.7em normal, PT Serif;
color: black;
}
/*footer*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.generic-anchor {
  color: #8db9ed;
}
.generic-anchor:visited {
  color: #8db9ed;
}
.generic-anchor:hover {
  color: #ccc;
}

.footer-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  align-content: flex-start;
margin: 0;}

footer {
  background: #373737;
  margin-top: auto;
  margin-bottom: 0%;
  width: 100%;
}

.footer-list-top {
  width: 25%;
}

.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px;
}

.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.0vw  Tahoma;
}

.footer-list-anchor {
  font: 1.0em Tahoma;
}

.slogan{
  color:white
}



.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.footer-bottom-section > div:first-child {
  margin-right: auto;
}



/* Desktops */
@media all and (min-width:850px) { 
  .container-block { padding: 4% 8% }
  .footer-list-header {
    font-size: 2em;
  }

  .footer-list-anchor {
    font-size: 1.1em;
  }


}

/* Mobiles */
@media all and (max-width:850px) { 
  .container-block { padding: 11% 8% } 
  .footer-list-top {
    width: 100%;
  }

  .footer-list-header {
    font-size: 2em;
  }

  .footer-list-anchor {
    font-size: 1.5em;
  }

}




/*parent container */
.container-flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

/* Desktops: child columns */
@media all and (min-width: 750px) {
    .item-col-2 { width: 50% }
    .footer-list-header {
      text-align: center;
      font-size: 1.5em;
    }
  
    .footer-list-anchor {
      font-size: 1.1em;
    }
  
  
    .footer-bottom-wrapper {
      font-size: 1.3em;
    }
}
body {
  font-family: Tahoma;
  background: #3b7fd9;
}


/* Mobiles: child columns */
@media all and (max-width: 750px) {

    .footer-list-top {
      width: 100%;
    }
  
    .footer-list-header {
      text-align: center;
      font-size: 1em;
    }
  
    .footer-list-anchor {
      font-size: 1em;
    }

    .footer-list-header {
    font-size: 1.5em;
  }

  .footer-list-anchor {
    font-size: 1.1em;
  }

}


@media only screen and (max-width: 560px) {
  main {
    font-size: 5em;
  }

  .footer-list-top {
    width: 100%;
  }

  .footer-list-header {
    text-align: center;
    font-size: 1.5em;
  }

  .footer-list-anchor {
    font-size: 1.2em;
  }

  
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 1.5em;
  }

  .footer-list-anchor {
    font-size: 1.0em;
  }

}

  @font-face
{
    font-family: Tahoma;
        src: url('Tahoma Regular font.ttf');
}
