body{
  margin: 0;
}
header {
  background-color: #3B7FD9;
  color:white;
  width: 100%;
}

.top{
  height: 40px;
  padding-left: 2em;
}

.info{
  padding-top: 5px;
}
.grey-top {
  background-color: #E4E4E4;
  padding-top: 10px;
  height: 40px;
  justify-content: center;
  width: 100%;
}
nav ul { 
  margin: 0 ;
  padding: 0;
}
.grey-top nav ul{
  text-align: center;
  font-size: 1.5em;
}
.grey-top .top-anchor{
  color: #000;
}

ul li { 
  display: inline-block; 
  margin-left: 10px;
}

*.info{
  font-family: "PT Serif";
  font-size: 1.5em;
  font-weight: normal;
}


.logout{
  margin-top: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.logout button{
  font-size: 1.5em;
  padding: 0;
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 0;
  background-color: #3B7FD9;
  color:white;
  border: none;

}


button{
  background: whitesmoke;
  border: 1px solid #707070;
  color: black;
  padding: 10px;
  width: 7em;
  border-radius: 16px;
  margin-top: 2em;
  margin-left: 3em;
}




.manager {
  display: flex;
  background-color: #D2F2DD;
  padding: 10%;
  align-items: center;
}

.manager .left {
  flex: 0 0 30%;
}

.manager .left .head {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
}

.manager .left .name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.manager .right {
  flex: 0 0 70%;
}

.info-item {
  display: flex;
  align-items: center;
  margin: 2% 0;
  font-size: 1.2rem;
}

.info-item .check {
  flex: 0 0 10%;
}

.info-item .text {
  flex: 0 0 30%;
}

.info-item .inp {
  flex: 0 0 50%;
}

.info-item .inp input {
  width: 20%;
  text-align: center;
  font-size: 1.2rem;
}

.info-item .btn {
  width: 65%;
  font-weight: 400;
  color: #fff;
  text-align: center;
  user-select: none;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: #4662D9;
}



.radio-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 15px;
  overflow: hidden;
}

.radio-toggle input {
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.radio-toggle label {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 25px;
  background: #FF4949;
  /* z-index: -1; */
  cursor: pointer;
  transition: .33s ease;
}

.radio-toggle input:checked~label {
  background: #13CE66;
}

.radio-toggle input:checked~label::after {
  right: 0;
  left: auto;
}

.radio-toggle label::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  transition: .33s linear;
}