header {
    background-color: white;
    color:black;
    width: 100%;
}

.top{
    height: 40px;
}

.info{
    padding-top: 5px;
}
.grey-top {
    background-color: #E4E4E4;
    padding-top: 10px;
    height: 40px;
    justify-content: center;
    width: 100%;
}
nav ul { 
    margin: 0 ;
}
.grey-top nav ul{
    text-align: center;
}
.grey-top .top-anchor{
    color: #000;
}

ul li { 
    display: inline-block; 
    margin-left: 10px;
}

*.info{
    font-family: "PT Serif";
    font-weight: normal;
    color: #4b4b4b;
}
.top-anchor{
  font: 2em
}

.logout{
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.logout button{
    font-size: 1.5em;
    padding: 0;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 0;
    background-color: #2D63AB;
    color:white;
    border: none;
    border-left-style: solid;
    border-color: white;
}

body{ 
    box-sizing: border-box; 
    font-size: 20px;
    padding: 0;
    margin: 0;
    background-color: #3B7FD9;
    align-items: center;
}

.container {
    display: grid;
    
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 40px;
    padding: 2.2em;
} 


.note-btn{
    background: #3A855D;
    border: 1px solid #707070;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    border-radius: 16px;
    margin-left: -0.5em;
}
.new{    
    width: fit-content;
    border-radius: 40px;
    padding: 2.3rem;
    border: 2px solid rgba(255, 255, 255, 0.6);
    background: whitesmoke;
    height: 30%;
    margin-top: 6.3em;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    min-width: 300px;
}
textarea{
    padding: 2%;
    width: 47vw;
    height: 20vh;
    margin-left: 5em;
}

.text{
    border-radius: 40px;
    padding: 2.3rem;
    border: 2px solid rgba(255, 255, 255, 0.6);
    background: whitesmoke;
}
.date{
    margin-bottom: 1.2em;
}
.message{
    padding: 20%;
    padding-top: 2%;
    font-size: 9em;
}

.message p{
    font-size: 20px;
}

.message ul{
    margin-top: 10px;
    margin-bottom: 10px;
}
h1{
    font-size: 0.2em;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2em;
}
.input{
    float: left;
}
ul p{
    padding: 2%;
    border: #4b4b4b;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: #ffffff;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin: 0.7em;
}

.message button{
    font-size: 20px;
    background: #3A855D;
    border: 1px solid #707070;
    color: #ffffff;
    padding: 10px;
    width: 30%;
    border-radius: 16px;
    margin: 4px;
    margin-left: 6.5em;
}
@media all and (max-width: 1500px) {
    .container{
      grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
  }

  
@media only screen and (max-width: 840px) {
    .container{
      grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
    
}

  
    @font-face
  {
      font-family: Tahoma;
          src: url('Tahoma Regular font.ttf');
  }

