

header {
    background-color: white;
    height: 35px;
    top: 0;
    width: 100%;
  }

  nav ul li { 
    display: inline-block; 
    margin-left: 10px;
  }
  .grey-top {
    background-color: #E4E4E4;
    height: 35px;
    top: 0;
    justify-content: center;
}
nav ul { 
    margin: 0 7% auto 0;
    padding-right: initial;
    text-align: left;
    max-width: 100%
}
.grey-top nav ul{
    text-align: center;
}
.grey-top .top-anchor{
    color: #000;
}

.grey-top li { 
    display: inline-block; 
    margin-left: 10px;
}

  
*.info{
    font-family: "PT Serif";
    font-weight: normal;
    color: #4b4b4b;
}
  .top-anchor{
  font: 1.5em normal, PT Serif;
  color: black;
  }


body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.head{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    display: flex;
    background-color: #2D63AB;
    color: white;
    border-radius: 0;
    padding: 0;
    margin:0;
}
.head h1 {
    color: white;
    font-size: 2em;
    margin: 0;
    margin-left: 5px;
}

.logout{
    margin-top: 0px;
    position: absolute;
    top: 0;
    right: 0;
}

.logout button{
    font-size: 1.5em;
    padding: 0;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #2D63AB;
    color:white;
    border: none;
    border-left-style: solid;
    border-color: white;
}

.niv1 {
    list-style-type: none;
    padding:0;
    padding-top: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    height: 25em;
    background: #EBEBEB;
    text-align: center;
    height: 15em;
}

.niv2{
    margin-bottom: 15px;
}

.niv2 a{
    font-size: 1.2em;
    color: black;
    text-decoration: none;
}

h1{
    color: #F2B705;
    font-size: 5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

h2{
    font-size: 2em;
    margin-left: 2.5em;
    margin-bottom: 1.5em;
}


.datatable {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
    font-size: 2.5em;
}

.datatable td, .datatable th {
    padding-top: 1%;
    padding-left:  1%;
    padding-bottom: 1%;
}

.datatable th {
    font-weight: bold;
    background-color: #1F2739;
    text-align: left;
    color: white;
}


.datatable tr:nth-child(odd) {
    background-color: white;
    color: #3B83E3;
}


.datatable tr:nth-child(even) {
    background-color: #3B83E3;
    color: white;
}

.datatable td {
    font-weight: normal;
}



details{
    margin-left: 0;
}

details > p{
    font-size: 0.7em;
}



.datatable td:hover {
  background-color: #F2B705;
  font-weight: bold;
  color: black;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

#alert{
    background-color: red;
    color: white;
}



@media screen and (max-width: 1024px){
    .datatable{
        font-size: 1em;
    }

    h1{
        font-size: 2.5em;
    }

    p{
        font-size: 1em;
    }
}

@media screen and (max-width: 375px){

    .logout{
        margin-top: 6px;
    }

    .logout button{
        font-size: 1em;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        padding-right: 0.5em;
        padding-left: 0.3em;
    }

    h1{
        font-size: 2em;
        margin-left: 0;
        text-align: center;
    }

    p{
        font-size: 1em;
        margin: 0;
        text-align: center;
    }

    .datatable{
        font-size: 5px;
        width: 97%;
    }

    .datatable td{
        padding-left: 0;
        text-align: center;
    }

}
ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .generic-anchor {
    color: #8db9ed;
  }
  .generic-anchor:visited {
    color: #8db9ed;
  }
  .generic-anchor:hover {
    color: #ccc;
  }
  
  .footer-flex {
    display: flex;
    flex-flow: row wrap;
  }
  
  footer {
    background: #373737;
    margin-top: auto;
    margin-bottom: 0%;
    width: 100%;
    padding-bottom: 0;
  }
  
  .footer-list-top {
    width: 20%;
  }
  
  .footer-list-top > li {
    text-align: center;
    padding-bottom: 10px;
  }
  
  .footer-list-header {
    padding: 10px 0 5px 0;
    color: #fff;
    font: 2.0vw  Tahoma;
  }
  
  .footer-list-anchor {
    font: 1.0em Tahoma;
  }
  
  .slogan{
    color:white
  }
  
  footer img{
    width: 4em;
    padding: 2%;
    margin-left: 39%;
  }
  
  
  
  
  /* Desktops */
  @media all and (min-width:850px) { 
    .text-black{
      margin-top: 1.2em;   
      font-size: 2.2em;
    }
    .footer-list-header {
      font-size: 2em;
    }
  
    .footer-list-anchor {
      font-size: 1.1em;
    }
    .button{
      font-size: 22px;
  
    }
  
  }
  
  /* Mobiles */
  @media all and (max-width:850px) { 
    .button{
      font-size: 22px;
    }
    .text-black{
      margin-top: 1.2em;   
      font-size: 2.2em;
    }
    .footer-list-top {
      width: 100%;
    }
  
    .footer-list-header {
      font-size: 2em;
    }
  
    .footer-list-anchor {
      font-size: 1.5em;
    }
  
  }
  
  
  
  

  
  
  @media all and (min-width: 770px) {
      .item-col-2 { width: 50% }
      .button{
        font-size: 17px;
      }
      .footer-list-header {
        font-size: 1.5em;
      }
    
      .footer-list-anchor {
        font-size: 1.1em;
      }
    
    
      .footer-bottom-wrapper {
        font-size: 1.3em;
      }
  }

  
  
  /* Mobiles: child columns */
  @media all and (max-width: 770px) {
      .item-col-2 { width: 100% }
      /* Vertical spacing under first child column */
      .item-col-2:first-child { margin-bottom: 32px }
      .button{
        font-size: 17px;
      }
      main {
        font-size: 5em;
      }
      .container-block{
        margin-top: 32px;
      }
    
      .footer-list-top {
        width: 100%;
      }
    
      .footer-list-header {
        font-size: 1em;
      }
    
      .footer-list-anchor {
        font-size: 1em;
      }
    
    
  
  }
  
  
  
  
  @media only screen and (max-width: 560px) {
    .button{
      font-size: 17px;
    }
  
    .footer-list-top {
      width: 100%;
    }
  
    .footer-list-header {
      font-size: 1.5em;
    }
  
    .footer-list-anchor {
      font-size: 1.2em;
    }
  
    
  }
  @media only screen and (max-width: 375px) {
    .button{
      font-size: 17px;
    }
    .footer-list-header {
      font-size: 1.5em;
    }
  
    .footer-list-anchor {
      font-size: 1.0em;
    }
  
  }
  .return{
    background-color: #8db9ed;
    color: white;
    border: #4b4b4b solid 1px;
    width: 14.3%;
    padding: 2%;
    margin-left: 49px;
    border-radius: 16px;
    text-align: center;
    margin-top: 20px;
  }
  .return a{
    font-size: 1.5em !important;
    color: white;
    font-weight: bold;
  }